<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" routerLink="/home">Poketrades</a>

          <div class="nav-collapse collapse">
            <ul class="nav">

                	<li><a routerLink="/home">Home</a></li>
                	<li><a routerLink="/profile">Profiel</a></li>


				</ul>




          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

<app-messages></app-messages>


 	<!-- KOLOMMEN -->

  	<div class="row-fluid">

	<!-- PAGINA -->




<router-outlet></router-outlet>

</div>

<hr>

      <footer>
        <p><a href="/">Home</a> <a href="/logout">Uitloggen</a></p>
      </footer>

</div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


