<div class="row">
<div class="span12">
<h1>Laatste toevoegingen</h1>
<table class="table">
  <thead>
    <tr>
      <th>Trainer</th>
      <th>Zoekt</th>
      <th>Heeft</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trainer of trainers">
      <td>{{trainer.naam}}</td>
      <td>
        <ul>
          <li *ngFor="let poke of trainer.zoekt"><a routerLink="/pokemon/{{poke.id}}">{{poke.naam}}</a></li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let poke of trainer.heeft"><a routerLink="/pokemon/{{poke.id}}">{{poke.naam}}</a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

</div>
</div>
<div class="row">
  <div class="span6">
    <h2>Meest gezocht</h2>
  </div>
  <div class="span6">
    <h2>Meest aangeboden</h2>
  </div>
</div>
